<% layout('layouts/boilerplate.ejs') -%>

<body>
    <h2>Add New Listings</h2>
    <form action="/listings" method="post">
        <div class="container">
            <div class="row">       
            <div class="my-2">
                <label for="" class="form-label">Title</label>
                <input type="text" name="listing[title]" class="form-control" placeholder="enter title">
            </div>
            <div class="my-2">
                <label for="" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" placeholder="enter description" id=""></textarea>
            </div>
            <div class="my-2">
                <label for="" class="form-label">Image</label>
                <input type="text" name="listing[image]" class="form-control" placeholder="enter the image type">
            </div>
            <div class="row"> 
                <div class="col-md-4 col-12 my-2">
                    <label for="" class="form-label">Number</label>
                    <input type="number" name="listing[price]" class="form-control" placeholder="Enter Price" >
                </div>
                <div class="col-md-4 col-12">
                    <label for="" class="form-label">Country</label>
                    <input type="text" name="listing[country]" class="form-control" placeholder="Enter Country">
                </div>
            </div>
          
            <div class="my-2">
                <label for="" class="form-label">Location</label>
                <input type="text" name="listing[location]" class="form-control" placeholder="Enter Location">
            </div>
            <button class="btn btn-success mt-4">Submit</button>
            </div>
        </div>
    </form>
</body>